
@section Migas{
    <li class="active">Pedidos sin procesar</li>
}

<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <h2>Hello <span data-bind="text: name"></span></h2>
    </div>
</section>

<!-- end widget grid -->
<script src="~/Scripts/knockout-3.2.0.js" type="text/javascript"></script>
@section Scripts {
    <script>
        function ViewModel() {
            this.name = ko.observable("Nestor ");
        };
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
}

