<!-- HEADER -->
<header id="header">
<div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo">
        <a href="/">
            @*<img src="~/img/logo.png" alt="SmartAdmin">*@
        </a>
    </span>
</div>

<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
        <span>
            <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
                <i class="fa fa-reorder"></i>
            </a>
        </span>
    </div>
    <!-- end collapse menu -->
    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
   

    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
        <span>
            <a asp-controller="Account" asp-action="Logout" title="Salir" data-action="userLogout" data-logout-msg="&#191 Salir de la aplicaci&#243n ?">
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
    </div>
   
</div>
<!-- end pulled right: nav area -->
</header>
<!-- END HEADER -->
